div.css-1r6slb0.e1tzin5v2 {
    background-color: #EEEEEE;
    border: 4px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}

/* .css-ffhzg2{
   
}

.css-1r6slb0{
    background: beige;
    border-radius: 10%;
    color: black;
    padding: 0.5rem;
    text-align: center;
}
.css-q8sbsg p{
    color: rgb(236, 0, 0);
}
.block-container{
    color: white;
} */